QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.Yk1Sv6Czpioj4i9pCPPwRIwrpA8WME1z9lPe3uNEfDQ
QDRANT_URL=https://6f705991-6cc2-4c5e-9cf2-86d22ab62d2a.europe-west3-0.gcp.cloud.qdrant.io:6333
HF_TOKEN=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
MODEL_ID=Qwen/Qwen2.5-7B-Instruct-AWQ
SERVED_MODEL=qwen-7b




## GPU
GPU_MEMORY_UTILIZATION=0.75