QDRANT_API_KEY=
QDRANT_URL=your qdrant_url
HF_TOKEN=your_huggingface_token_here
MODEL_ID=Qwen/Qwen2.5-7B-Instruct-AWQ
SERVED_MODEL=qwen-7b




GPU_MEMORY_UTILIZATION=0.90

VLLM_API_URL=http://localhost:8000/v1/chat/completions  # local CLI
QDRANT_COLLECTION=uber
MAX_TOKENS=512
MAX_CONCURRENCY=30
REQUEST_TIMEOUT=120
MAX_MODEL_LEN=4096